<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cade Buffet?</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="query" placeholder="Pesquise por um buffet">

    <ul>
      <li v-for="buffet, index in searchedBuffet">
        <div>
          <strong>{{ buffet.trading_name }}</strong>
          <address>{{ buffet.city }} - {{ buffet.state }}</address>
        </div>
      </li>
    </ul>    
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>