<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cade Buffet?</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="query" placeholder="Pesquise por um buffet">

    <ul>
      <li v-for="buffet in searchedBuffet">
        <div>
          <strong>{{ buffet.trading_name }}</strong>
          <address>{{ buffet.city }} - {{ buffet.state }}</address>
          <button v-on:click="getBuffet(buffet.id)">Ver Detalhes</button>
        </div>
      </li>
    </ul>
    
    <section v-if="buffet">
      <div id="buffet-data">
        <p><strong>Nome fantasia:</strong> {{ buffet.trading_name }}</p>
        <p><strong>Telefone para contato:</strong> {{ buffet.phone }}</p>
        <p><strong>Email para contato:</strong> {{ buffet.email }}</p>
        <p><strong>Endereço:</strong> {{ buffet.address }}, {{ buffet.neighborhood }}</p>
        <p>{{ buffet.city }} - {{ buffet.state }}, {{ buffet.zipcode }}</p>
        <p><strong>Descrição: </strong> {{ buffet.description }}</p>
        <strong><p>Formas de pagamento aceitas:</p></strong>
        <ul>
          <li v-for="payment_method in buffet.payment_methods">
            <div>
              <strong>{{ payment_method.name }}</strong>
            </div>
          </li>
        </ul>
      </div>

      <div id="buffet-events" v-if="events">
        <div v-for="event in events">
          <strong><p>{{ event.name }}</p></strong>
          <p><strong>Descrição:</strong> {{ event.description }}</p>
          <p><strong>Quantidade mínima de convidados:</strong> {{ event.qty_min }}</p>
          <p><strong>Quantidade máxima de convidados:</strong> {{ event.qty_max }}</p>
          <p><strong>Duração:</strong> {{ event.duration }}(min)</p>
          <p><strong>Cardápio:</strong> {{ event.menu }}</p>
          <p><strong>Localização Exclusiva:</strong> {{ event.exclusive_location == true ? 'Sim' : 'A escolha do Cliente' }}</p>
          <strong><p>Serviços Extras:</p></strong>
          <ul>
            <li v-for="service_option in event.service_options">
              <div>
                <strong>{{ service_option.name }}</strong>
              </div>
            </li>
          </ul>

          <h3>Consultar disponibilidade para realização do evento</h3>
          <form>
            <label for="evento">Data de realização do Evento</label>
            <input v-model="formData.event_date" type="date" name="event_date" id="event_date" required>
            <label for="qty_invited">Quantidade estimada de convidados</label>
            <input v-model="formData.qty_invited" type="number" name="qty_invited" id="qty_invited" placeholder="Número estimado de convidados" required>
            <button type="submit" v-on:click="checkEventAvailability(event.id)">Consultar</button>
          </form>
          <div v-if="event.availability_response">
            <div v-if="event.availability_response.status">
              <p><strong>Preço estimado do Evento:</strong> {{ event.availability_response.total_price }}</p>
            </div>
            <div v-if="!event.availability_response.status">
              <p>{{ event.availability_response.msg }}</p>
            </div>
            <div v-if="event.availability_response.error">
              <p>{{ event.availability_response.error }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>